body {
    font-family: 'Courier New', Courier, monospace;
    width: 200px;
    background-color: rgba(127, 255, 212, 0.473);
    border-radius: 15px;
}
h1 {
    font-size: 18px;
    margin: 0;
}
p {
    font-size: 14px;
}
